/node_modules
package-lock.json
gurobi.log
/data/uploads/*.lp
/data/results/*.sol
/data/jsonFiles/*.json
/data/dati-sintetici
/data/saves/pipelines/*.json
/data/saves/queues/*.json
/data/sets/graphs/*
/data/sets/*.json
/logs/workflow/pipelines.json
/logs/workflow/queues.json
/data/sets/imported-results/*.json

/tmp
/logs/*.log
*.code-workspace
